---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-primary min-h-screen flex flex-col items-center justify-between py-12 px-3">
		<main class="flex flex-col pb-12">
			<div class="flex flex-col gap-12 ">
				<div class="flex flex-col gap-3">
					<div>
						<h1 class="text-4xl">Yuri</h1>
						<h2 class="text-xl font-light">Software engineer</h2>
					</div>
					<div class="flex flex-col gap-1">
						<div class="flex gap-2">
							<span>Frontend</span>
							<span>.</span>
							<span>Command line interface</span>
						</div>
						<div class="flex gap-2">
							<span>Web performance</span>
							<span>.</span>
							<span>Devops</span>
							<span>.</span>
							<span>Computer Science</span>
						</div>
					</div>
				</div>
				<section>
					<ul class="flex flex-col gap-2">
						{
							posts.map((post) => (
								<li class="flex items-center gap-5">
									<FormattedDate date={post.data.pubDate}/>
									<a href={`/blog/${post.slug}/`} class="underline underline-offset-2 hover:text-neutral-600 decoration-secondary ">
										<h4 class="font-semibold font-mono text-left text-lg">{post.data.title}</h4>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</div>
		</main>	
		<Footer/>
	</body> 
</html>
 